In [ ]:
import pandas as pd
data = pd.read_excel("C:\\Users\\rafal\\Downloads\\VII semestr\\Analiza_i_BazyDanych\\lab1\\Command Files\\drinks.xlsx")

In [ ]:
data.info()

In [14]:
data.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
Afghanistan,0,0,0,0.0
Albania,89,132,54,4.9
Algeria,25,0,14,0.7
Andorra,245,138,312,12.4
Angola,217,57,45,5.9

In [15]:
data.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [18]:
data.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [47]:
#f = data.loc[2,1] #'beer_servings'] 
beerMean = data['beer_servings'].mean()
beerCountries = []

spiritMean = data['spirit_servings'].mean()
spiritCountries = []

wineMean = data['wine_servings'].mean()
wineCountries = []

total = []

for index, row in data.iterrows():
    cnt = 0
    if row['beer_servings'] > beerMean :
        beerCountries.append(index)
        cnt = cnt +1
    if row['spirit_servings'] > spiritMean :
        spiritCountries.append(index)
        cnt = cnt +1
    if row['wine_servings'] > wineMean :
        wineCountries.append(index)
        cnt = cnt +1
        #print(data.index.values[index])
    if cnt == 3:
        total.append(index)
        

        
print("Countries where average consumption of beer is higher than an average: ")        
print(beerCountries)
print("\n")
print("Countries where average consumption of spirit is higher than an average: ") 
print(spiritCountries)
print("\n")
print("Countries where average consumption of wine is higher than an average: ") 
print(wineCountries)
print("\n")
print("Countries where average consumption of each type of alcoholis higher than an average: ") 
print(total)
print("\n")
print("Data about the country with the biggest consumption of pure alcohol: ")
data.loc[data['total_litres_of_pure_alcohol'].idxmax()]

Countries where average consumption of beer is higher than an average:
['Andorra', 'Angola', 'Argentina', 'Australia', 'Austria', 'Bahamas', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bolivia', 'Botswana', 'Brazil', 'Bulgaria', 'Cabo Verde', 'Cameroon', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador', 'Estonia', 'Finland', 'France', 'Gabon', 'Germany', 'Greece', 'Grenada', 'Hungary', 'Iceland', 'Ireland', 'Kazakhstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico', 'Namibia', 'Netherlands', 'New Zealand', 'Niue', 'Norway', 'Palau', 'Panama', 'Paraguay', 'Peru', 'Poland', 'Portugal', 'South Korea', 'Moldova', 'Romania', 'Russian Federation', 'St. Kitts & Nevis', 'St. Lucia', 'St. Vincent & the Grenadines', 'Serbia', 'Seychelles', 'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Suriname', 'Sweden', 'Switzerland', 'Trinidad & Tobago', 'Ukraine', 'United Kingdom', 'USA', 'Uruguay', 'Venezuela', 'Vietnam']


Countries where average consumption of spirit is higher than an average:
['Albania', 'Andorra', 'Antigua & Barbuda', 'Armenia', 'Bahamas', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bosnia-Herzegovina', 'Brazil', 'Bulgaria', 'Canada', 'Chile', 'China', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Dominican Republic', 'Estonia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Greece', 'Grenada', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'India', 'Ireland', 'Jamaica', 'Japan', 'Kazakhstan', 'Kyrgyzstan', 'Latvia', 'Liberia', 'Lithuania', 'Luxembourg', 'Malta', 'Mongolia', 'Montenegro', 'Netherlands', 'Nicaragua', 'Niue', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Moldova', 'Romania', 'Russian Federation', 'St. Kitts & Nevis', 'St. Lucia', 'St. Vincent & the Grenadines', 'Serbia', 'Slovakia', 'Spain', 'Sri Lanka', 'Suriname', 'Switzerland', 'Thailand', 'Trinidad & Tobago', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'USA', 'Uzbekistan', 'Venezuela']


Countries where average consumption of wine is higher than an average:
['Albania', 'Andorra', 'Argentina', 'Australia', 'Austria', 'Bahamas', 'Belgium', 'Bulgaria', 'Canada', 'Chile', 'Cook Islands', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Equatorial Guinea', 'Estonia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Laos', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Montenegro', 'Netherlands', 'New Zealand', 'Norway', 'Paraguay', 'Poland', 'Portugal', 'Romania', 'Russian Federation', 'St. Lucia', 'Sao Tome & Principe', 'Serbia', 'Seychelles', 'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Macedonia', 'United Kingdom', 'USA', 'Uruguay']


Countries where average consumption of each type of alcoholis higher than an average:
['Andorra', 'Bahamas', 'Belgium', 'Bulgaria', 'Canada', 'Chile', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Gabon', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Paraguay', 'Poland', 'Romania', 'Russian Federation', 'St. Lucia', 'Serbia', 'Slovakia', 'Spain', 'Switzerland', 'United Kingdom', 'USA']


Data about the country where total consumption of pure alcohol is the biggest:

beer_servings                   142.0
spirit_servings                 373.0
wine_servings                    42.0
total_litres_of_pure_alcohol     14.4
Name: Belarus, dtype: float64