In [1]:
import pandas as pd
data = pd.read_excel("drinks.xlsx")

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 5 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB

In [3]:
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [4]:
data.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [5]:
data.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [6]:
#f = data.loc[2,1] #'beer_servings'] 
beerMean = data['beer_servings'].mean()
beerCountries = []

spiritMean = data['spirit_servings'].mean()
spiritCountries = []

wineMean = data['wine_servings'].mean()
wineCountries = []

total = []

for index, row in data.iterrows():
    cnt = 0
    if row['beer_servings'] > beerMean :
        beerCountries.append(index)
        cnt = cnt +1
    if row['spirit_servings'] > spiritMean :
        spiritCountries.append(index)
        cnt = cnt +1
    if row['wine_servings'] > wineMean :
        wineCountries.append(index)
        cnt = cnt +1
    if cnt == 3:
        total.append(index)
        

        
print("Countries where average consumption of beer is higher than an average: ")        
print(beerCountries)
print("\n")
print("Countries where average consumption of spirit is higher than an average: ") 
print(spiritCountries)
print("\n")
print("Countries where average consumption of wine is higher than an average: ") 
print(wineCountries)
print("\n")
print("Countries where average consumption of each type of alcoholis higher than an average: ") 
print(total)
print("\n")
print("Data about the country with the biggest consumption of pure alcohol: ")
data.loc[data['total_litres_of_pure_alcohol'].idxmax()]

Countries where average consumption of beer is higher than an average:
[3, 4, 6, 8, 9, 11, 14, 15, 16, 17, 20, 22, 23, 25, 29, 31, 32, 35, 37, 41, 42, 44, 45, 48, 51, 52, 57, 60, 61, 62, 65, 67, 68, 75, 76, 81, 87, 93, 98, 99, 105, 109, 117, 120, 121, 125, 126, 129, 130, 132, 133, 135, 136, 138, 139, 140, 141, 143, 144, 145, 151, 152, 155, 156, 159, 160, 163, 165, 166, 174, 180, 182, 184, 185, 188, 189]


Countries where average consumption of spirit is higher than an average:
[1, 3, 5, 7, 11, 14, 15, 16, 17, 21, 23, 25, 32, 35, 36, 40, 41, 42, 43, 44, 45, 48, 50, 51, 57, 60, 61, 62, 64, 65, 67, 68, 72, 73, 74, 75, 77, 81, 84, 85, 87, 91, 93, 96, 98, 99, 105, 112, 113, 120, 122, 125, 130, 132, 133, 134, 135, 139, 140, 141, 143, 144, 145, 151, 155, 160, 161, 163, 166, 169, 174, 180, 181, 182, 184, 186, 188]


Countries where average consumption of wine is higher than an average:
[1, 3, 6, 8, 9, 11, 16, 25, 32, 35, 40, 42, 44, 45, 48, 55, 57, 60, 61, 62, 64, 65, 67, 75, 76, 81, 83, 92, 93, 98, 99, 105, 113, 120, 121, 126, 132, 135, 136, 140, 141, 144, 148, 151, 152, 155, 156, 159, 160, 165, 166, 170, 182, 184, 185]


Countries where average consumption of each type of alcoholis higher than an average:
[3, 11, 16, 25, 32, 35, 42, 44, 45, 48, 57, 60, 61, 62, 65, 67, 75, 81, 93, 98, 99, 105, 120, 132, 135, 140, 141, 144, 151, 155, 160, 166, 182, 184]


Data about the country with the biggest consumption of pure alcohol:

country                         Belarus
beer_servings                       142
spirit_servings                     373
wine_servings                        42
total_litres_of_pure_alcohol       14.4
Name: 15, dtype: object